<%- include('../partials/header.ejs') %>
<div class="container">
    <h1 class="mb-3">Add movie</h1>
    <form action="/admin/add" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">Title name</label>
            <input type="text" class="form-control" name="movie[name]" placeholder="Title name">
        </div>
        <div class="mb-3">
            <label class="form-label">Poster</label>
            <input type="file" class="form-control" name="img" accept="image/*">
        </div>
        <div class="mb-3">
            <label class="form-label">Trailer</label>
            <input type="text" class="form-control" name="movie[trailer]" placeholder="Link trailer">
        </div>
        <div class="mb-3">
            <label class="form-label">time</label>
            <input type="text" class="form-control" name="movie[time]" placeholder="Time">
        </div>
        <div class="mb-3">
            <label class="form-label">type</label>
            <input type="text" class="form-control" name="movie[type]" placeholder="Type">
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <input type="text" class="form-control" name="movie[desc]" placeholder="Description">
        </div>
        <div class="mb-3">
            <label class="form-label">Date</label>
            <input type="date" class="form-control" name="movie[date]" placeholder="Date">
        </div>
        <div class="mb-3">
            <input type="submit" value="Add movie">
        </div>
    </form>
</div>

<%- include('../partials/footer.ejs') %>