<%- include('../partials/header.ejs') %>

    <% if(currentUser.username == 'admin'){ %>
        <div class="container-m">
            <div class="row justify-content-left">
                <h1>Add movie to your cinema</h1>
                
            </div>
          </div>
        
    <% } %>

<%- include('../partials/footer.ejs') %>