* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 100%;
  height: 400px;
  position: relative;
  /* overflow: hidden; */
}
.slides {
  display: flex;
  height: 100%;
}
.slide {
  min-width: 100%;
  position: relative;
}
.slide img {
  width: 100%;
  height: 100%;
}
.slide-controls {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#next-btn,
#prev-btn {
  cursor: pointer;
  background: transparent;
  font-size: 30px;
  border: none;
  padding:  10px;
  color: gray;
}
#next-btn:focus,
#prev-btn:focus {
  outline: none;
}
.slide-content {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  font-size: 60px;
  color: white;
}


img {
-webkit-user-drag: none;
-moz-user-drag: none;
-o-user-drag: none;
}
img {
pointer-events: none;
}
.movie_head{
  margin: 30px 0 0 310px;
  text-decoration: none;
}
.movie_card{
padding: 0 !important;
width: 15rem;
margin:20px 40px 20px 40px; 
border-radius: 10px;
box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
text-decoration: none;
}

.movie_card img{
border-top-left-radius: 10px;
border-top-right-radius: 10px;
height: 20rem;
text-decoration: none;
}
.movie_info{
color: #5e5c5c;
text-decoration: none;
}

.movie_info i{
font-size: 20px;
}
.card-title{
width: 100%;
height: 4rem;
}
.play_button{
background-color: #ff3d49;
 position: absolute;
width: 60px;
height: 60px;
border-radius: 50%;
right: 20px;
bottom: 111px;
font-size: 27px;
padding-left: 21px;
padding-top: 16px;
color: #FFFFFF;
cursor: pointer;
}

.rounded{
  width: 180px ;
  height: 230px;
  margin: 50px 10px;
}

.rounded-trail{
  width: 950px;
  height: 400px;
  margin: 50px 10px;
}

.container-detail{
  margin: 0 auto;
  margin-bottom: 90px;
  width: 90%;
  position: relative;
}

.head-detail{
  margin-bottom: 30px;
  width: 650px;
  text-decoration: none;
}

.container-comment{
  margin: 100px 0px 0px 90px;
  width: 50%;
  position: relative;
}

.container-m{
  margin: 30px 0px 0px 160px;
  width: 90%;
  position: relative;
}

.head-com{
  margin-top: 30px;
}

.edit{
  margin: 30px 0px 0px 90px;
}

#delete-form{
  display: inline;
}

.card-title1{
  margin: 20px auto;
}
.icon{
  margin: 25px 0px 0px 25px;
}

.cinema_card{
  padding: 0 !important;
  width: 20rem;
  margin:14px; 
  border-radius: 10px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none;
  }

  .container-register{
    margin: 30px 0px 0px 160px;
    width: 100%;
    position: absolute;
  }

  .container-h-100{
    margin-top: 100px;
  }

  .container-h-80{
    margin-top: 55px;
  }

  .user_card {
    height: 550px;
    width: 450px;
    margin-top: auto;
    margin-bottom: auto;
    background: #212529;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
  }
  
  .user_cards {
    height: 750px;
    width: 450px;
    margin-top: auto;
    margin-bottom: auto;
    background: #212529;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
  }
  .form_container {
    margin-top: 15px;
  }
  .login_btn {
    margin-top: 15px;
    width: 100%;
    background: #e0b503 !important;
    color: white !important;
  }
  .login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
  .login_container {
    padding: 0 2rem;
  }
  .input-group-text {
    background: #e0b503 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
  }
  
  .input-group-texts {
    background: red !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
  }
  .input_user,
  .input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }

  .input-group-text{
    height: 40px;
    width: 40px;
  }

  .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c0392b !important;
  }
  
  .link{
    color: white;
  }

  .brand_logo_container{
    margin-bottom: 15px;
  }

  .addmovies{
    margin-bottom: 30px;
  }

  .theater{
    margin: 30px 0px 0px 0px;
  }

  .select{
    margin-left: 10px;
  }

  .show{
    padding: 0 !important;
    margin:14px; 
    border-radius: 10px;
    text-decoration: none;
    }

    .img{
      width: 190px;
      height: 300px;
    }

    .top100{
      margin-top: 70px;
    }
    .movie-container {
      margin: 20px 0;
    }
    
    .movie-container select {
      background-color: #fff;
      border: 0;
      border-radius: 5px;
      font-size: 14px;
      margin-left: 10px;
      padding: 5px 15px 5px 15px;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
    }
    
    .seat {
      background-color: #444451;
      height: 25px;
      width: 30px;
      margin: 3px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    
    .seat.selected {
      background-color: #6feaf6;
    }
    
    .seat.occupied {
      background-color: #fff;
    }
    
    .seat:nth-of-type(2) {
      margin-right: 18px;
    }
    
    .seat:nth-last-of-type(2) {
      margin-left: 18px;
    }
    
    .seat:not(.occupied):hover {
      cursor: pointer;
      transform: scale(1.2);
    }
    
    .showcase .seat:not(.occupied):hover {
      cursor: default;
      transform: scale(1);
    }
    
    .showcase {
      background: rgba(0, 0, 0, 0.1);
      padding: 5px 10px;
      border-radius: 5px;
      color: #777;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
    }
    
    .showcase li {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px;
    }
    
    .showcase li small {
      margin-left: 2px;
    }
    
    .row {
      display: flex;
    }
    
    .screen {
      background-color: gray;
      height: 70px;
      align-items: center;
      width: 17%;
      margin: 15px 0;
      transform: rotateX(-45deg);
      box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
    }
    
    p.text {
      margin: 5px 0;
    }
    
    p.text span {
      color: #6feaf6;
    }
        
    .movie-container {
      margin: 20px 0;
    }

    .movie-container select {
      border: 0;
      border-radius: 5px;
      font-size: 14px;
      margin-left: 10px;
      padding: 5px 15px 5px 15px;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
    }

    .container-theater {
      margin-top: 100px;
      perspective: 1000px;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Lato', sans-serif;
      margin: 0;
    }
    
    .container-head{
      margin: 30px 0px 0px 200px;
    }

    .screens{
      text-align: center;
      color: white;
    }

    .fav{
      background: transparent;
      border: 0;
    }
    
    .unfav{
      background: transparent;
      border: 0;
      color: red;
    }

    .sort{
      height: 50px;
    }

    
.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 40px;
  position: relative;
}

.rating-0 {
  filter: grayscale(100%);
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.fa-star{
  color: #fcd93a;
}

.fa-times{
  background: transparent;
  border: 0; 
}