* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 100%;
  height: 400px;
  position: relative;
  /* overflow: hidden; */
}
.slides {
  display: flex;
  height: 100%;
}
.slide {
  min-width: 100%;
  position: relative;
}
.slide img {
  width: 100%;
  height: 100%;
}
.slide-controls {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#next-btn,
#prev-btn {
  cursor: pointer;
  background: transparent;
  font-size: 30px;
  border: none;
  padding:  10px;
  color: gray;
}
#next-btn:focus,
#prev-btn:focus {
  outline: none;
}
.slide-content {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  font-size: 60px;
  color: white;
}


img {
-webkit-user-drag: none;
-moz-user-drag: none;
-o-user-drag: none;
}
img {
pointer-events: none;
}
.movie_head{
  margin: 30px 0 0 310px;
  text-decoration: none;
}
.movie_card{
padding: 0 !important;
width: 15rem;
margin:20px 40px 20px 40px; 
border-radius: 10px;
box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
text-decoration: none;
}

.movie_card img{
border-top-left-radius: 10px;
border-top-right-radius: 10px;
height: 20rem;
text-decoration: none;
}
.movie_info{
color: #5e5c5c;
text-decoration: none;
}

.movie_info i{
font-size: 20px;
}
.card-title{
width: 100%;
height: 4rem;
}
.play_button{
background-color: #ff3d49;
 position: absolute;
width: 60px;
height: 60px;
border-radius: 50%;
right: 20px;
bottom: 111px;
font-size: 27px;
padding-left: 21px;
padding-top: 16px;
color: #FFFFFF;
cursor: pointer;
}

.rounded{
  width: 180px ;
  height: 230px;
  margin: 50px 10px;
}

.rounded-trail{
  width: 950px;
  height: 400px;
  margin: 50px 10px;
}

.container-detail{
  margin: 0 auto;
  margin-bottom: 90px;
  width: 90%;
  position: relative;
}

.head-detail{
  margin-bottom: 30px;
  width: 650px;
  text-decoration: none;
}

.container-comment{
  margin: 100px 0px 0px 90px;
  width: 50%;
  position: relative;
}

.container-m{
  margin: 30px 0px 0px 160px;
  width: 90%;
  position: relative;
}

.head-com{
  margin-top: 30px;
}

.edit{
  margin: 30px 0px 0px 90px;
}

#delete-form{
  display: inline;
}

.card-title1{
  margin: 20px auto;
}
.icon{
  margin: 25px 0px 0px 25px;
}

.cinema_card{
  padding: 0 !important;
  width: 20rem;
  margin:14px; 
  border-radius: 10px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none;
  }

  .container-register{
    margin: 30px 0px 0px 160px;
    width: 100%;
    position: absolute;
  }

  .container-h-100{
    margin-top: 100px;
  }

  .container-h-80{
    margin-top: 55px;
  }

  .user_card {
    height: 550px;
    width: 450px;
    margin-top: auto;
    margin-bottom: auto;
    background: #212529;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
  }
  
  .user_cards {
    height: 750px;
    width: 450px;
    margin-top: auto;
    margin-bottom: auto;
    background: #212529;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
  }
  .form_container {
    margin-top: 15px;
  }
  .login_btn {
    margin-top: 15px;
    width: 100%;
    background: #e0b503 !important;
    color: white !important;
  }
  .login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
  .login_container {
    padding: 0 2rem;
  }
  .input-group-text {
    background: #e0b503 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
  }
  
  .input-group-texts {
    background: red !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
  }
  .input_user,
  .input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }

  .input-group-text{
    height: 40px;
    width: 40px;
  }

  .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c0392b !important;
  }
  
  .link{
    color: white;
  }

  .brand_logo_container{
    margin-bottom: 15px;
  }

  .addmovies{
    margin-bottom: 30px;
  }

  .theater{
    margin: 30px 0px 0px 0px;
  }

  .select{
    margin-left: 10px;
  }

  .show{
    padding: 0 !important;
    margin:14px; 
    border-radius: 10px;
    text-decoration: none;
    }

    .img{
      width: 190px;
      height: 300px;
    }

    .top100{
      margin-top: 70px;
    }