<%- include('../partials/header.ejs') %>
    <div class="container-detail"> 
        <div>
            <h1 class="head-detail"><strong>Ironman</strong><iframe class="rounded fluid col-6 float-end" width="560" height="315" src="https://www.youtube.com/embed/8ugaeA-nMTc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></h1>
            <img src="<%= available.img %> " width="100px" height="80px">
            <h5><i class="far fa-clock"></i> 120 min</h5>
            <h5><i class="fas fa-tag"></i> action</h5>
            <h5><i class="far fa-calendar"></i> 20/02/64</h5>
        </div>
    </div>
<%- include('../partials/footer.ejs') %>